.card {
  box-sizing: border-box;
  max-width: 31.25rem;
  margin: 1.25rem;
  background-color: rgb(51, 50, 50);
  border-radius: 20px;
  transition: 0.3s;

  span{
    padding: 20px;
    color: white;
  }

  img {
    border-radius: 20px 20px 0px 0px;
  }

  &:hover {
    scale: 1.02;
  }
}
